* {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 35px;
}

.dnlink1 {
    color: #7fffd4;
    font-size: 16px;
   
}

.dnlink2 {
    color: #7fffd4;
    font-size: 16px;
}

.travel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px
}

#excursion {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 21px;
color: #808080;
}

.tentimg {
    padding-bottom: 20px;
}

.comingsoon {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: normal;
    color: #ffffff;
}